body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* header */
    /* nav-ber */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: #000000cc;
    font-size: 45px;
    font-weight: 800;
}
.nav-text{
    color: rgb(248, 110, 18);
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    
}
nav li > a, button{
    display: flex;
    text-decoration: none;
    color: #000000cc;
    margin-right: 50px;
    align-items: center;
}

    /* banner */

.btn-primary{
    background-color:rgb(248, 110, 18) ;
    color: #000000cc;
    padding: 15px 35px 15px 35px;
    border-radius: 5px;
    border: white;
    font-size: 17px;
    margin-right: 5px;
}
.bb{
    display: inline;
}
.banner{
    display: flex;
    padding: 30px 30px 0px 200px;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
header{
    background-color: rgb(251, 247, 242);
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}
.banner-greeting{
    font-size: 20px;
    color: #000000cc;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 60px;
    color: black;
    margin-top: 5px;
    margin-bottom: 7px;
}
.banner-para{
    margin-bottom: 20px;
    color: #000000cc;
}

/*About section*/
.about-info{
    margin: 130px 200px;
    padding: 130px;
    background-color: rgb(251, 247, 242);
}
.about-margin{
    border: 1px #000000cc solid;
    background-color: white;
}
.about-title{
    text-align: center;
    font-size: 20px;
    color: black;
}
.about-para{
    text-align: center;
    color: #000000cc;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.infos{
    text-align: center;
}
/*What I Do*/
.what-i-do{
    margin: 0 200px;
    text-align: center;
}
#wid-p{
    padding: 20px 70px;
}
.wid-boxes{
    display: flex;
    margin-bottom: 50px;
    gap: 20px;
}
.wid-box{
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(236, 233, 233);
    background-color: white;
}
/*resume section*/
.resume-section{
    margin: 0 200px;
}
.resume-title{
    text-align: center;
}
.resume-contents{
    display: flex;
    gap: 20px;
}
.grey{
    color: #000000cc;
    font-size: 12px;
}
.resume-btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}